@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F4F4;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer utilities {
  .shimmer {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0; /* Tailwind's gray-200 */
  }

  .shimmer::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    animation: shimmer 1.6s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }}
/* Ensure the html and body take full height */
html, body {
margin: auto;
height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

/* Optional: Add smooth scrolling to elements with scroll-triggered animations */
[data-animate] {
  visibility: hidden;
}


body {
  color: black;
  background: #F4F4F4;overflow-x: hidden;
  font-family:'Bricolage Grotesque' Arial, Helvetica, sans-serif;
}
/* global.css or a module.css file */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.container {
  max-width: 1440px;
  padding-right: 9px;
  padding-left: 9px;
  margin-right: auto;
  margin-left: auto;
}









@media (max-width: 768px) {
  .container {
    width: 100%;
padding: 9px;
  }
  html,body{
    overflow-x: hidden;
  }
}

/* @media (max-width: 992px) {
 
  body{
    overflow-x: hidden;
  }
} */

@media (min-width: 1200px) {
  .container{
    width: 100%;
  }
}

