@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F4F4;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the html and body take full height */
html, body {
width:100%;
max-width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

/* Optional: Add smooth scrolling to elements with scroll-triggered animations */
[data-animate] {
  visibility: hidden;
}


body {
  color: black;
  background: #F4F4F4;
  font-family:'Bricolage Grotesque' Arial, Helvetica, sans-serif;
}

[data-animate], [data-lg], [data-mobile] {
  opacity: 1; /* Ensure elements are visible by default */
}


/* General fix for small screens */
@media screen and (max-width: 768px) {
  html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}


  * {
    max-width: 100%;
  }

  /* Ensure containers don’t cause overflow */
  .container, .wrapper, .content {
    width: 100%;
  }

  /* Fix navbar issues */
  nav {
    width: 100%;
    max-width: 100%;
  }

  body {
    font-size: 14px;
  }
}



